@import "tailwindcss";


::-webkit-scrollbar{
    display: none;
}
body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}
.homeTopBg{
    background-image: url(../public/img0.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#main0{
    background-image: url(../public/img1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}